@model ASPNetOgameLikeTP.Models.GameUserVM

@{ 
    var solarSystem = Model.Universe.SolarSystems.FirstOrDefault(x => x.Planets.Contains(Model.PrincipalPlanet));
}
<div class="row">
    <div class="col-md-4" style="text-align:center">
        @if (!Model.Universe.SolarSystems.ElementAt(0).Equals(solarSystem))
        {
            @Ajax.ActionLink("Précédent", "PreviousSolarSystem", "GameUser", new { solarSystemId = solarSystem.Id }, new AjaxOptions()
            {
                HttpMethod = "GET",
                AllowCache = false,
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "pageContent",
            })
        }
    </div>
    <div class="col-md-4" style="text-align:center">
        @Html.DisplayFor(model => solarSystem.Name)
    </div>
    <div class="col-md-4" style="text-align:center">
        @if (!Model.Universe.SolarSystems.Last().Equals(solarSystem))
        {
            @Ajax.ActionLink("Suivant", "NextSolarSystem", "GameUser", new { solarSystemId = solarSystem.Id }, new AjaxOptions()
            {
                HttpMethod = "GET",
                AllowCache = false,
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "pageContent",
            })
        }
    </div>
</div>
