@model ASPNetOgameLikeTP.Models.GameUserVM

<div class="row">
    <div class="col-md-12" style="text-align:center">
        @Html.DisplayFor(model => model.Universe.SolarSystems.FirstOrDefault().Name)
    </div>
</div>
@{ int i = 1;}
@foreach (var item in Model.Universe.SolarSystems.FirstOrDefault(x => x.Planets.Contains(Model.PrincipalPlanet)).Planets)
{
    <div class="row">
        <div class="col-md-1" style="text-align:center">
            @i
        </div>
        <img class="col-md-4" style="text-align:center" src="@Url.Content(@Model.PrincipalPlanet.Print)" />
        <div class="col-md-5" style="text-align:center">
            @Html.DisplayFor(x => item.Name)
        </div>
    </div>

    i++;
}
