@model ASPNetOgameLikeTP.Models.GameUserVM

<div class="row">
    <div class="col-md-4" style="text-align:center">
        @Html.ActionLink("Précédent", "GameUserView", "GameUser", new { vm = Model })
    </div>
    <div class="col-md-4" style="text-align:center">
        @Html.DisplayFor(model => model.SolarSystem.Name)
    </div>
    <div class="col-md-4" style="text-align:center">
        @Html.ActionLink("Suivant", "GameUserView", "GameUser", new { vm = Model })
    </div>
</div>
