@model ASPNetOgameLikeTPClassLibrary.Entities.Building

    <div class="row">
        @Html.DisplayFor(x => Model.Name)
    </div>

    <div class="row">
        Niveau @Html.DisplayFor(x => Model.Level)
    </div>

<div class="row">
    <img src="https://www.1jour1actu.com/wp-content/uploads/PIA23408_NASA-s-Goddard-Space-Flight-Center.jpg" style="max-width:120px"/>
</div>

<div class="row">
    @Html.ActionLink("Augmenter niveau " + (Model.Level + 1), "UpgradeBuilding", "GameUser", new { building = Model})
</div>

